*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input,
button,
textarea {
  font: inherit;
}

/* -------reset above------- */
:root {
  --card-color: hsl(0, 0%, 16%);
  --input-color: hsl(0, 0%, 20%);
  --background-color: hsl(0, 0%, 12%);
  --font-color: hsl(0, 0%, 100%);
  --accent-color: hsl(30, 91%, 57%);
  --btn-font-color: hsl(0, 0%, 0%);
  --disabled-btn-bg-color: hsl(30, 61%, 40%);
  --disabled-btn-font-color: hsl(0, 0%, 5%);
}
#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
header,
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--card-color);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  cursor: pointer;
  margin: 0.5em 0 0;
  background-color: var(--accent-color);
  color: var(--btn-font-color);
}
button:active {
  transform: scale(0.99);
}
button:disabled {
  background-color: var(--disabled-btn-bg-color);
  color: var(--btn-font-color);
}
.resumeInputSection,
.displayResume {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.resumeInputSection {
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}
.inputSection {
  background-color: var(--card-color);
  border-radius: 5px;
  padding: 1rem;
  gap: 1em;
}
.contactInput,
.experienceInput,
.educationInput,
.skillsInput {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}
.experienceButtons,
.educationButtons,
.skillsButtons {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
}
input::placeholder {
  color: var(--font-color);
}
.displayContactInfo {
  display: flex;
  justify-content: space-around;
}
.jobDetailsContainer {
  display: flex;
  justify-content: space-between;
}
input,
textarea {
  padding: 5px;
  background-color: var(--input-color);
  color: var(--font-color);
}
h1 {
  text-align: center;
}
header h1 {
  color: var(--accent-color);
}
h2 {
}
textarea {
  resize: vertical;
}

/* ---------Display Resume Styling--------- */

.displayResume {
  background-color: var(--card-color);
  margin: 2rem;
  border-radius: 5px;
}
.displayContactInfo {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.jobDetailsContainer {
  display: flex;
  justify-content: space-between;
}
.schoolDetailsContainer {
  display: flex;
  justify-content: space-between;
}
